
logs/
_temp/


# Ignora todo o CONTEÚDO da pasta bin (o asterisco é obrigatório)
bin/*

# Abre a exceção estrita para o arquivo moa.jar
# !bin/moa.jar

bkp/
figuras/
# Ignore data files
*.csv
*.xlsx
*.log
*.out
*.txt
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore virtual environment directories
venv/
env/
.venv/
.env/
# Ignore system files
.DS_Store
Thumbs.db
# Ignore IDE specific files
.vscode/
.idea/
# Ignore data files
data/
datasets/
# Ignore result files
resultados/